[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# user settings
UserSettings/

# visual studio / vscode
.vs/
.vscode/

# os
.DS_Store
Thumbs.db

# crash reports
sysinfo.txt

# addressables
AddressableAssetsData/*/*.bin*
